<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>My sessions</h2>
    {% for session in sessions %}
    <p>{{session.subject}} - {{session.hours|floatformat:0}}h - {{session.date}} </p>
    <a href=" {% url 'delete_session' session.id%} "> <button type="delete">Delete</button></a>
    <a href="{% url 'update_session' session.id %}"><button type="button">Edit</button></a>

    {% endfor %}
</body>
</html>