asgiref
attrs
Babel
bcc
blinker

certifi
chardet
click
cloud-init
colorama
command-not-found
configobj
contourpy
crispy
cryptography
cupshelpers
cycler
dbus-python
defer
distro
distro-info
Django
django-crispy-forms
fabio
fonttools
form
gbinder-python
greenlet
gyp
h5py
hdf5plugin
httplib2
idna
Jinja2
jsonpatch
jsonpointer
jsonschema
kiwisolver
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
louis
lxml
markdown-it-py
MarkupSafe
matplotlib
mdurl
msgpack
netaddr
netifaces
numpy
oauthlib
olefile
packaging
pexpect
pillow
platformdirs
ptyprocess
pycairo
pycups
Pygments
PyGObject
PyJWT
pynvim
pyparsing
PyQt6
PyQt6-Qt6
PyQt6_sip
pyrsistent
pyserial
python-apt
python-dateutil
python-debian
pytz
pyxdg
PyYAML
requests
rich
ruamel.yaml
ruamel.yaml.clib
scipy
setuptools
silx
six
SQLAlchemy
sqlparse
systemd-python
typing_extensions
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
urllib3
wadllib
wheel
xdg
xkit
xraydb
